.improbable/
.idea/
spatialos.*.build.json
packages/
logs/

SpatialOS/schema/bin/
OtherWorkers/Interactive/client/bin/
OtherWorkers/Interactive/client/src/improbable/
LifeWorker/bin/
LifeWorker/src/improbable/
SnapshotGenerator/bin/
SnapshotGenerator/src/improbable/
